 <% if book.favorited_by?(current_user) %>
    <p>
      <%= link_to book_favorites_path(book), method: :delete, remote: true do %>
        <span class="fa fa-heart like-btn-unlike"><%= book.favorites.count %></span>
      <% end %>
    </p>
<% else %>
    <p class="favo-color">
      <%= link_to book_favorites_path(book), method: :post, remote: true do %>
         <span class="fa fa-heart like-btn"><%= book.favorites.count %></span>
      <% end %>
    </p>
<% end %>
</td>
  
