<div class="back">
  <main class="container">
     <div class="row"></div>
     <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
           <h1 class="text-center mt-5">
               welcome
               <i class="fas fa-book"></i>
               <strong>Bookers</strong>
               !!
           </h1>
           <p class="text-center">
               In
               <i class="fas fa-book"></i>
               <strong>Bookers</strong>
               ,
               <p class="text-center">you can share and exchange your opinions , inpression , and emotions<br>
               about various books!</p>
               <div class="btn-wrapper col-10 mx-auto mt-5">
                   <div class="row">
                       <%= link_to "Log in", new_user_session_path, class:"btn btn-info btn-sm btn-block mb-3 sign_in"%>
                   </div>
                   <div class="row">
                       <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-success btn-sm btn-block sign_up"%>
                   </div>
               </div>
            </p>
        </div>
      </div>
      <div class="row col-3"></div>
  </main>
</div>